.input-group{
    position: relative;
}
.input-group span{
    color: #c00;
    font-size: 13px;
    position: absolute;
    right: 10px;
    top: 10px;
}
#successForm{
    background: #fff;
    padding: 5px 10px;
    color: green;
    font-weight: bold;
    text-align: center;
}
#carousel .owl-carousel .owl-item img{
    border-radius: 10px;
}
#contact input[type="text"], #contact .btn-confirm{
    height: 56px;
    border-radius: 13px;
}
#vendor{
    padding-bottom: 50px;
}
#diagram h6{
    font-weight: bold;
}
.btn-show{
    line-height: 40px;
}
.item-tuyen-sinh-home{
    position: relative;
}
.item-tuyen-sinh-home .logo-am{
    position: absolute;
    right: 0;
    opacity: 0.5;
}
section#hot-new h1{
    font-weight: 300 !important;
}
.relative-active{
    position: relative;
}
.relative-active span{
    color: #c00;
    font-size: 14px;
    position: absolute;
    top: 18px;
    right: 10px;
    font-style: italic;
}
#contentApproved, #contentRejected{
    display: none;
}
#contact h1{
    font-style: italic;
}
.card-body p{
    font-size: 14px;
}
.title-main-site{
    color: #205C40;
    padding-top: 30px;
    font-weight: 600;
    font-size: 24px;
}
h5.card-title{
    font-weight: 600;
}
footer ul.list-custom li a, .list-group-item{
    font-weight: 400;
    font-size: 14px;
}
.pdt50{
    padding-top: 50px;
}
.copyright-huph, .privacy-huph{
    color: #fff;
    opacity: 0.7;
    font-size: 10px;
}
.privacy-huph{
    text-align: right;
}
.card-subtitle strong{
    text-decoration: underline;
}
#nav-program .nav .nav-link{
    font-weight: 600;
    padding: 12px 30px;
    margin-right: 20px;
}
.dropdown-menu a{
    padding: 5px 10px;
    display: block;
}
.dropdown-menu{
    min-width: 250px;
}
.tag-section{
    padding-top: 20px;
}
.title-tags{
    padding-bottom: 20px;
}
.sub-dropdown-menu{
    position: absolute;
    right: -185px;
    background: #fff;
    border-radius: 5px;
    top: 0;
}
.dropdown-menu a:hover .sub-dropdown-menu{
    display: block;
}
.dropdown-menu{
    border: 0;
}

.dropdown .dropdown-menu {
    display: none;
}
.dropdown:hover>.dropdown-menu,
.dropend:hover>.dropdown-menu {
    display: block;
    margin-top: .1em;
    margin-left: .1em;
}
.nav-fill .nav-item, .nav-fill>li>.nav-link{
    flex: 1 1 auto;
    text-align: left;
}
.navbar-expand-lg .navbar-nav{
    width: 100%;
}
.dropend .nav-link::after, .dropend .nav-link::before{
    font-size: 10px;
    display: none;
}
.title-news-home{
    padding: 20px 0;
}
@media screen and (min-width:769px) {
    .dropend:hover>.dropdown-menu {
        position: absolute;
        top: 0;
        left: 100%;
    }
    .dropend .dropdown-toggle {
        margin-left: .5em;
    }
    .list-card a{
        display: flex;
    }
}


.slider-area{
    padding: 40px 0;
}
.wrapper-slider {
    position: relative;
    width: 100%;
    height: 150px;
    margin: 0 auto;
    border-radius: 10px;
    overflow: hidden;
}

.wrapper-slider .item-partner {
    position: absolute;
    padding: 20px;
    animation: slider 12s infinite linear;
}

.wrapper-slider .item-partner:nth-child(1) {
    left: 100%;
    animation-delay: -20s;
}

.wrapper-slider .item-partner:nth-child(2) {
    left: 100%;
    animation-delay: -18s;
}

.wrapper-slider .item-partner:nth-child(3) {
    left: 100%;
    animation-delay: -16s;
}

.wrapper-slider .item-partner:nth-child(4) {
    left: 100%;
    animation-delay: -14s;
}

.wrapper-slider .item-partner:nth-child(5) {
    left: 100%;
    animation-delay: -12s;
}

.wrapper-slider .item-partner:nth-child(6) {
    left: 100%;
    animation-delay: -10s;
}
.wrapper-slider .item-partner:nth-child(7) {
    left: 100%;
    animation-delay: -8s;
}
.wrapper-slider .item-partner:nth-child(8) {
    left: 100%;
    animation-delay: -6s;
}
.wrapper-slider .item-partner:nth-child(9) {
    left: 100%;
    animation-delay: -4s;
}
.wrapper-slider .item-partner:nth-child(10) {
    left: 100%;
    animation-delay: -2s;
}
.item-partner img{
    /*filter: grayscale(1);*/
}
.item-partner img:hover{
    filter: grayscale(0);
}
.wrapper-slider:hover {
    animation-play-state: paused;
}
@keyframes slider {
    0%{
        left: 100%;
        visibility: visible;
    }
    99% {
        left: -150px;
        visibility: hidden;
    }
    100% {
        left: 100%;
        visibility: hidden;
    }
}

.sodotochuc img{
    height: auto !important;
}

@media (min-width: 768px) {
    .map-company{
        width: 50%;
        margin: 0 auto;
    }
    .map-company h2{
        text-transform: uppercase;
        font-size: 48px;
        font-weight: 300;
        padding-bottom: 10px;
    }
    .border-img{
        height: 260px;
    }
    .border-img img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    h5.card-title{
        height: 70px;
        overflow: hidden;
    }
    .no-desktop{
        display: none;
    }
    .card-body p{
        height: 62px;
        overflow: hidden;
    }
    .wrapper-slider div {
        width: 15%;
    }

}

@media (max-width: 767px) {
    .no-mobile{
        display: none;
    }
    section#carousel{
        padding-top: 0;
    }
    .section-about-home img{
        width: 100% !important;
        height: auto !important;
    }
    section#about p{
        padding: 0;
    }
    .img-top-right {
        width: 40%;
        height: auto;
    }
    .img-logo-top-right {
        width: 80px;
    }
    .img-best {
        transform: rotate(2deg) !important;
        width: 170px;
    }
    .img-top-right{
        border: 2px solid #fff;
    }
    video{
        max-width: 300px;
        height: 168px;
    }
    .video-control img{
        width: 50px;
    }
    section#about a.show-more{
        margin: 0;
        font-size: 16px;
    }
    section#about h5 {
        margin: 0 0 20px;
    }
    .marquee-item{
        margin: 0 7vw;
    }
    .slider-area{
        padding: 0;
    }
    .wrapper-slider div {
        width: 45%;
    }
}
