.input-group{
    position: relative;
}
.input-group span{
    color: #c00;
    font-size: 13px;
    position: absolute;
    right: 10px;
    top: 10px;
}
#successForm{
    background: #fff;
    padding: 5px 10px;
    color: green;
    font-weight: bold;
    text-align: center;
}
#carousel .owl-carousel .owl-item img{
    border-radius: 10px;
}
#contact input[type="text"], #contact .btn-confirm{
    height: 56px;
    border-radius: 13px;
}
#vendor{
    padding-bottom: 50px;
}
#diagram h6{
    font-weight: bold;
}
.btn-show{
    line-height: 40px;
}
.item-tuyen-sinh-home{
    position: relative;
}
.item-tuyen-sinh-home .logo-am{
    position: absolute;
    right: 0;
    opacity: 0.5;
}
section#hot-new h1{
    font-weight: 300 !important;
}
.relative-active{
    position: relative;
}
.relative-active span{
    color: #c00;
    font-size: 14px;
    position: absolute;
    top: 18px;
    right: 10px;
    font-style: italic;
}
#contentApproved, #contentRejected{
    display: none;
}
#contact h1{
    font-style: italic;
}
.card-body p{
    font-size: 14px;
}
.title-main-site{
    color: #205C40;
    padding-top: 30px;
    font-weight: 600;
    font-size: 24px;
}
@media (min-width: 768px) {
    .map-company{
        width: 50%;
        margin: 0 auto;
    }
    .map-company h2{
        text-transform: uppercase;
        font-size: 48px;
        font-weight: 300;
        padding-bottom: 10px;
    }
    .border-img{
        height: 260px;
    }
    .border-img img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    h5.card-title{
        height: 50px;
        overflow: hidden;
    }
}
